#a{
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
}
#b,
#c,
#d{
    font-family: "Reem Kufi Fun", sans-serif;
    margin: 10px;
    text-align: right;
    font-size: 13px;
    writing-mode: horizontal-tb
}
#cn{
    font-family: "Reem Kufi Fun", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}
#e{
    display: inline-block;
    box-sizing: border-box 10px;
    width: 200px;
    height: 200px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 0px ;
    border-radius: 30px;
}
#x{
    margin-top: auto;
    background-color: white;
    width: calc(100%-100px);
    margin-left: 300px;
}
body{
    background-color:rgb(32, 32, 32);
}
#contenido{
    justify-content: center;
    font-family: "Reem Kufi Fun", sans-serif;
    margin: 10px;
}
#content{
    justify-content: center;
    font-family: "Reem Kufi Fun", sans-serif;
    margin: 10px;
}
#conte{
    justify-content: center;
    font-family: "Reem Kufi Fun", sans-serif;
    margin: 10px;
}
#hab{
    justify-content: center;
    font-family: "Reem Kufi Fun", sans-serif;
    margin: 10px;
}
#idi{
    justify-content: center;
    font-family: "Reem Kufi Fun", sans-serif;
    margin: 10px;
}
#cer{
    justify-content: center;
    font-family: "Reem Kufi Fun", sans-serif;
    margin: 10px;
}
#zx,
#xz,
#cv,
#vc,
#bn,
#nb,
#b,
#c,
#d,
#k{
    margin: 10px;
    justify-content: center;
    font-size: 18px;
}