#a{
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
}
#b,
#c,
#d{
    font-family: "Reem Kufi Fun", sans-serif;
    margin: 10px;
    text-align: right;
    font-size: 13px;
    writing-mode: horizontal-tb
}
#e{
    
    display: inline-block;
    box-sizing: border-box 10px;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 0px ;
    border-radius: 30px;
}
#x{
    margin-top: auto;
    background-color: white;
    width: calc(100%-100px);
    margin-left: 300px;
    height: 100vh;
}
body{
    background-color:rgb(32, 32, 32);
}
#contenido{
    font-family: "Reem Kufi Fun", sans-serif;
    margin: 10px;
}