#a{
    font-family: "Merienda", cursive;
    text-align: center;
}
#b{
    font-size: 13px;
    float: right;
}
#c{
    text-align: right;
    font-size: 14px;
    float: right;
}
#d{
    
    box-sizing: border-box 10px;
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 0px ;
    border-radius: 30px;
}

