#a{
    font-family: "Merienda", cursive;
    font-size: 50px;
    text-align: center;
    margin: 1%;
    font-weight: bold;
    text-shadow: 0px 0px 25px greenyellow;
}
#b{
    font-family: "Merienda", cursive;
    font-size: 20px;
    margin: 1%;
}
#c{
    font-family: "Merienda", cursive;
    font-size: 20px;
    margin: 1%;
}
#d{
    font-family: "Merienda", cursive;
    font-size: 20px;
    margin: 1%;
}
#e{
    font-family: "Merienda", cursive;
    font-size: 20px;
    margin: 1%;
}
#f{
    font-family: "Merienda", cursive;
    font-size: 20px;
    margin: 1%;
}
#g{
    text-align: end;
    font-family: "Merienda", cursive;
    font-size: 20px;
    margin: 1%;
}
