#a{
    font-family: "Merienda", cursive;
    font-size: 50px;
    text-align: center;
    margin: 1%;
    font-weight: bold;
    text-decoration: underline;
    text-shadow: 0px 0px 50px greenyellow;
    color: white;
}
#b{
    font-family: "Merienda", cursive;
    font-size: 20px;
    margin: 1%;
    text-shadow: 0px 0px 35px greenyellow;
    color: white;
    text-align: justify;
}
#c{
    font-family: "Merienda", cursive;
    font-size: 20px;
    margin: 1%;
    text-shadow: 0px 0px 35px greenyellow;
    color: white;
    text-align: justify;
}
#d{
    font-family: "Merienda", cursive;
    font-size: 20px;
    margin: 1%;
    text-shadow: 0px 0px 35px greenyellow;
    color: white;
    text-align: justify;
}
#e{
    font-family: "Merienda", cursive;
    font-size: 20px;
    margin: 1%;
    text-shadow: 0px 0px 35px greenyellow;
    color: white;
    text-align: justify;
}
#f{
    font-family: "Merienda", cursive;
    font-size: 20px;
    margin: 1%;
    text-shadow: 0px 0px 35px greenyellow;
    color: white;
    text-align: justify;
}
#g{
    text-align: end;
    font-family: "Merienda", cursive;
    font-size: 20px;
    margin: 1%;
    text-shadow: 0px 0px 35px greenyellow;
    color: white;
}
body{
    background-color: black;
}
#h{
    width: 120px;
    height: 120px;
    filter: invert(100%);
    display: block;
    margin: 0 auto;
}