#a{
    margin: 70px;
    font-family: "Merienda", cursive;
    text-align: center;
    font-size: 50px;
    filter: invert(100%);
}
#b{
    font-family: "Merienda", cursive;
    text-align: center;
    font-size: 30px;
    filter: invert(100%);
    margin: 10px;
}
#c{
    font-family: "Merienda", cursive;
    text-align: center;
    font-size: 30px;
    filter: invert(100%);
    margin: 10px;
}
#d{
    font-family: "Merienda", cursive;
    text-align: center;
    font-size: 30px;
    filter: invert(100%);
    margin: 10px;
}
#e{
    font-family: "Merienda", cursive;
    text-align: center;
    font-size: 30px;
    filter: invert(100%);
}
#Boton{
    font-family: "Merienda", cursive;
    margin: 15px;
}
.Datos{
    box-shadow: 0px 0px 100px 0px black ;
    text-align: center;
    margin-top: 0 auto;
    margin-right: 10%;
    margin-left: 10%;
    border-radius: 2%;
    background-color: rgb(32, 32, 32);
}
.input{
    margin: 100px;
    box-shadow: 0px 0px 15px 0px red;
}